body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*FUENTES*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing:antialiased;
}
#header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #61dafb;
}

.center{
    width: 75%;
    margin: 0px auto;
}

#logo{
    width: 30%;
    font-size: 40px;
    float: left;
    margin-top: 35px;
    
}

#logo img{
    display: block;
    float: left;
    height: 200px;
    margin-top: -70px;
    margin-bottom: -50px;
    font-family: fantasy;
    
    
}
/* Como Rotar un objeto
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
*/
#brand{
    display: block;
    margin: 0px;
    float: left;
    background: #F0D200;
    margin-top: -1px;
    height: 42px;
    border-radius: 4px;
}
#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}
#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;
}
#menu ul li{
    list-style: none;
    height: 46px;
    display: inline-block;
    margin-left: 15px;
    
} 
#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}
#menu a:hover{
    color: #61dafb;
}
/* No deja pasar las cosas hacía arriba*/
.clearfix{
    clear:both;
    float: none;
}

#slider{
    width: 100%;
    height: 250px;
    color: white;
    text-shadow: 0px 0px 5px #444;

    /*Generador de degradados */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 80%, rgba(0,212,255,1) 100%);

}
#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 100px;
    text-align: center;

}
.btn-white{
    color: black;
    background: #F0D200;
    display: block;
    padding: 10px;
    width: 120px;
    height: 30px;
    margin: 0px auto;
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 30px;
    box-shadow: 0px 0px 5px #444;
    margin-top: 15px;
    border-radius: 4px;
    transition: 300ms all;
}
.btn-white:hover{
    background: #444;
    color: white;
}

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    text-align: center;
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 50px;
    
    
    
}

#content{
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 25px;
}
#sidebar{
    width: 25%;
    float: left;
}

.sidebar-item{
    background: #f7f7f7;
    padding: 15px;
    margin-top: 30px;

}

.sidebar-item h{
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid black;
    
}

.sidebar-item .btn{
    margin: 0px auto;
    margin-top: 10px;
    
}
.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    border-radius: 4px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-success{
    background: rgb(8, 171, 8);

}
.btn-success:hover{
    background: black;
}

input[type="text"],input[type="number"],input[type="date"],textarea{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="number"]{
    appearance: textfield !important;
    margin: 0;
}

textarea{
    height: 50px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100px;
    min-height: 50px;
}

.radiobuttons{
    margin-top: 30px;
    margin-bottom: 30px;
    float: center;
    
}

.form-group label{
    padding-right: 30%;
}
.select{
    margin-top: 15px;
    margin-bottom: 10px;
    float: left;
    padding-right: 100%;
    
}
input[type="text"]:focus, textarea:focus{
    box-shadow: 0px 0px 5px #ccc inset;
}

#footer{
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 65px;
    color: #444;

}

#footer p{
    margin: 0px;
    padding: 0px;
}

.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}
.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}
.article-item .date{
    display: block;
    width: 100%;
    color: #6d6d6d;

}

.article-item a{
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover{
    text-decoration: underline;
}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 250px;
}


.article-detail .image-wrap img {
    width: 100%;
    height: auto;
}

.article-detail .subheader{
    margin-top: 15px;
    margin-bottom: 0px;
    border: none;
}

.mid-form{
    width: 50%;
    margin: 0px auto;
}
.mid-form label{
    float: left;
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;

}



/*RESPONSIVE
Desde la altura 0px hasta 1370px h*/

@media (max-width:1370px){

    .center{
        width: 85%;       
    }
}


@media (max-width:1220px){
    .center{
        width: 95%;
    }
    #menu ul {
        width: auto;
    }    
}

@media (max-width:900px){
    #body{
        width: auto;
    }
    
    #logo{
        float: none;
        width: 300px;
        margin: 0px auto;
        margin-top: 20px;
    }
    
    #menu,
    #menu ul{
        width: auto;
        clear: both;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 5px;
        
    }

    #content{
        float: none;
        width: 100%;
    }

    #sidebar{
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }

    .mid-form{
        width: 70%;
    }


}

@media (max-width:470px){
    #header{
        min-height: 130px;
        overflow: hidden;
    }

    #menu,
    menu ul{
        line-height: 50px;
    }


    menu ul{
        margin-left: 7px;
        margin-right: 7px;
    }

    #slider{
        height: 130px;
    }


    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }

    #slider .btn-white{
        margin-top: 20px;
    }

    #slider.slider-small{
        height: 100px;
    }

    #slider.slider-small h1{
        padding-top: 35px;
        
    }
}

