body {
  
  text-align: center;
  margin: 0px;
  padding: 0px;
  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing:antialiased;
}
#header {
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #61dafb;
  position: fixed;
  top: 0px;
  z-index: 200;
}

.center{
  width: 80%;
  margin: 0px auto;
}




.dashboard{
  display: inline-block;
    position: relative;
    background-color: #f7f7f7;
    transition: 100ms all;

    border-radius: 5px;


    margin-left: 60px;
    margin-right: 40px;
    min-width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;

    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right:60px;

}  

#dash-content:hover{
  box-shadow: 0px 0px 5px #ccc inset;
}

.dashboard label{
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: -20px;
  text-align: left;
  
}
.diff-porcentual {
  float :right;
  max-width: 120px;
  margin-top: -10px;
  margin-left: 150px;
  margin-right: -50px;
  border-radius: 10px;
}
.diff-porcentual img{
  float: left;
  height: 25px;
  padding-left: 5px;
  padding-top: 2px;

}


#nav-img{
  float: left;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
} 

.diff-porcentual span{
  float: right;
  height: 25px;
  padding-top: 5px;
  padding-left: 4px;
  padding-right: 15px;

}

#labelincome{
  top: 0;
  
  color: gray;
  padding-left: 15px;

  
}
#labeloutcome{
  color: gray;
  top: 0;
  padding-left: 15px;
}

#labelmoney{
  bottom: 0;
  text-align: left;
  padding-left: 30px;
  font-size: 30px;
  content: "$";
  
}

/*Parte Tabla*/

    table{
      float: center;
      margin-top: 50px;
      caption-side: bottom;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      text-align: left;
      
    }
    th{
      background-color: black;
      color: whitesmoke;
      
    }

    td,th{
      border: 2px solid #444;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      max-width: 100;
      
      
    }


    .descriptionCell{
      max-width: 300px;
      max-height: 75px;
      text-overflow: ellipsis;
      overflow: hidden;
      
    }



    .bill-list{
      display: inline-block; 
      
    }

    .bill-list #list{
      min-height: 300px; 
    }


    .edit{
      display: block;
    }
    

    .edit span{
      display: inline-block;
    }

    .edit input[type="number"]{
      display: inline-block;
      width: 60px;
      min-height: 30px;
      margin-bottom: 5px;
      transition: 300ms all;  
      padding-right: 3px;
    }

    

    .bill-list input[type="number"]{
      display: inline-block;
      width: 120px;
      min-height: 30px;
      margin-bottom: 5px;
      transition: 300ms all;  
      padding-right: 3px;
    }

    .bill-list input[type="text"]{
      float: center;
      width: 120px;
      min-height: 30px;
      padding: 3px;
      margin-bottom: 5px;
      transition: 300ms all;  
      padding-right: 3px;
    }


    .bill-list input[type="date"]{
      float: center;
      width: 150px;
      min-height: 30px;
      padding: 3px;
      margin-bottom: 5px;
      transition: 300ms all;  
    }
    .bill-list label{
      text-align: auto;
      padding-right: 10%;
      padding-left: 10%;
    }

    .bill-list img{
      padding-top: 20px;
      cursor: pointer;
      height: 30px;
      margin-left: 20px;
    }


/*Fin Parte Tabla*/




#logo{
  width: 30%;
  font-size: 40px;
  float: left;
  margin-top: 35px;
  
}

#logo img{
  display: block;
  float: left;
  height: 200px;
  margin-top: -70px;
  margin-bottom: -50px;
  font-family: fantasy;
  
  
}

#brand{
  display: block;
  margin: 0px;
  float: left;
  background: #F0D200;
  margin-top: -1px;
  height: 42px;
  border-radius: 4px;
}
#menu{
  width: 70%;
  float: right;
  font-size: 18px;
}
#menu ul{
  line-height: 85px;
  width: auto;
  float: right;
}
#menu ul li{
  list-style: none;
  height: 46px;
  display: inline-block;
  margin-left: 15px;
  
} 
#menu a{
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}
#menu a:hover{
  color: #61dafb;

}


.active{
  border-bottom: 2px solid #61dafb;
}

/* No deja pasar las cosas hacía arriba*/
.clearfix{
  clear:both;
  float: none;
}

#slider{
  margin-top: 120px;
  width: 100%;
  height: 250px;
  color: white;
  text-shadow: 0px 0px 5px #444;

  /*Generador de degradados */
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 80%, rgba(0,212,255,1) 100%);

}
#slider h1{
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 100px;
  text-align: center;

}
.btn-white{
  color: black;
  background: #F0D200;
  display: block;
  padding: 10px;
  width: 130px;
  height: 30px;
  margin: 0px auto;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 30px;
  box-shadow: 0px 0px 5px #444;
  margin-top: 15px;
  border-radius: 4px;
  transition: 300ms all;
}
.btn-white:hover{
  background: #444;
  color: white;
}

#slider.slider-small{
  height: 150px;
}

#slider.slider-small h1{
  text-align: center;
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 50px;
}

#content{
  width: 75%;
  float: left;
  min-height: 600px;
  margin-right: 25px;
}
#sidebar{
  width: 15%;
  float: left;
}

.sidebar-item{
  background: #f7f7f7;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;

}

.sidebar-item h{
  text-transform: uppercase;
  font-size: 17px;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid black;
  
}

.sidebar-item .btn{
  margin: 0px auto;
  margin-top: 10px;
  
}
.btn{
  display: block;
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  border-radius: 4px;
  transition: 300ms all;
  border: none;
  cursor: pointer;
}

.btn-success{
  display: inline-block;
  margin: 20px;
  background: rgb(8, 171, 8);

}
.btn-success:hover{
  background: black;
}

.btn-cancel{
  display: inline-block;
  margin: 20px;
  background: rgb(163, 24, 15);

}
.btn-cancel:hover{

  background: black;
}

.btn-delete{
  margin: 20px;
  display: inline-block;
}

.btn-delete:hover{
  background: rgb(163, 24, 15);
}

#validation-error{
  display: block;
  float: left;
  color: red;
}

input[type="text"],input[type="number"],input[type="date"],textarea{
  width: 100%;
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 5px;
  transition: 300ms all;
}



input[type="number"]{
  appearance: textfield !important;
  margin: 0;
}

textarea{
  height: 50px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100px;
  min-height: 50px;
}

.radiobuttons{
  margin-top: -10px;
  margin-bottom: 5px;
  float: center;
  
}

.form-group label{
  padding-right: 10%;
}

.form-group span{
  float: left;
}



.select{
  margin-top: 15px;
  margin-bottom: 10px;
  
}


.select select{
  margin-right: 100%;
}


.group-select{
  margin-top: 15px;
  margin-bottom: 25px;
  display: block;
}

.first-select {
  display: inline-block;
}
.second-select {
  display: inline-block;
}
.btn-select{
  display: inline-block;
  padding-top: 10px;
  padding-right: 10%;
}
.btn-select img{
  height: 25px;
}

.form-group select{
  display: inline-block;
  
}

input[type="text"]:focus, textarea:focus{
  box-shadow: 0px 0px 5px #ccc inset;
}

#footer{
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 65px;
  color: #444;

}

#footer p{
  margin: 0px;
  padding: 0px;
}


.subheader{
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.subtitle{
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}


.mid-form{
  width: 50%;
  margin: 0px auto;
}
.mid-form label{
  float: left;
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;

}

.mid-form img{
  height: 20px;
}


/* Menu de Hamburguesa */
.bars-menu{
  display: none;
  margin-top: 25px;
  margin-right: 30px;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 2px;
  padding: 6px;
  padding-left: 14px;
  padding-right: 10px;
  position: fixed;
  top: 30px;
  left:88%;
  z-index: 300;
  transform: translate(-30px, -90%) scale(1.2);
  cursor: pointer;
}

.bars-menu:hover{
  background-color:  #040732;
}

.bars-menu span{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffd147;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.activeline1-bars-menu{
  -webkit-transform: rotate(45deg) translate(-2px, 1px); /* Safari y Chrome */
  -moz-transform: rotate(45deg) translate(-2px, 1px); /* Firefox */
  -ms-transform: rotate(45deg) translate(-2px, 1px); /* Internet Explorer */
  -o-transform: rotate(45deg) translate(-2px, 1px); /* Opera */
  transform: rotate(45deg) translate(-2px, 1px); /* Estándar */
}

.activeline2-bars-menu{
  opacity: 0;
  margin-left: -30px;
}

.activeline3-bars-menu{
  -webkit-transform: rotate(-45deg) translate(-4px, 2px); /* Safari y Chrome */
  -moz-transform: rotate(-45deg) translate(-4px, 2px); /* Firefox */
  -ms-transform: rotate(-45deg) translate(-4px, 2px); /* Internet Explorer */
  -o-transform: rotate(-45deg) translate(-4px, 2px); /* Opera */
  transform: rotate(-45deg) translate(-4px, 2px); /* Estándar */
}

.menu-side{
  text-align: left;
  width: 0px;
  height: 100%;
  background: #f5f5f5;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-right: 2px solid #ccc;
}

.menu-side ::-webkit-scrollbar{
  display: none;
}

.menu-side{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.name-page{
  padding-left: -20px;
  height: 125px;
  display: flex;
  align-items: center;
  background-color: #444;
  
}
.name-page img{
  height: 150px;
}

.options-menu{
  
  top:160px;
  position: absolute;
  padding-top: 30px;
  padding-left: 40px;
  
  
}

.option-menu a{
  text-decoration: none; 
  color: black;
  padding-top: 20px;
  margin-top: 40px;
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 300;
}

.option-menu a:hover{
  color: #61dafb;

}

#body{
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.body-move{
  margin-left: 250px;
}
.menu-side-move{
  width: 250px;
}

#icon{
  padding-top: 20px;
  cursor: pointer;
  height: 30px;
  margin-left: 20px;
}




.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.wrapper .btn-white{
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}

#date-picker{
  width: 200px;
  margin-right: 40px;
  display: inline-block;
  
}







/*RESPONSIVE
Desde la altura 0px hasta 1370px h*/

@media (max-width:1370px){

  .center{
      width: 95%;       
  }

  #sidebar{
    float: none;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 50px;
  }
  #content{
    float: none;
    width: 100%;
  }
}



@media (max-width:1220px){
  .center{
      width: 95%;
  }
  
 
}

@media (max-width:977px){
  #body{
      width: auto;
  }
  
  #logo{
      float: none;
      width: 300px;
      margin: 0px auto;
      margin-top: 20px;
  }
  
  #menu,
  #menu ul{
      width: auto;
      clear: both;
      float: none;
      width: 100%;
      margin: 0px;
      padding: 0px;
      line-height: 5px;
      
  }


  #nav-img{
    display: none;
  }

  

  #slider h1{
      padding-top: 115px;
      font-size: 25px;
  }

  .bars-menu{
    display: block;
  }

}/*End 977*/



@media (max-width:625px){
  #header{
      min-height: 130px;
      overflow: hidden;
  }

  #menu,
  menu ul{
      line-height: 50px;
  }


  menu ul{
      margin-left: 7px;
      margin-right: 7px;
  }

  #slider{
      height: 130px;
  }


  #slider h1{
      font-size: 19px;
      padding-top: 30px;
  }

  #slider .btn-white{
      margin-top: 20px;
  }

  #slider.slider-small{
      height: 100px;
  }

  #slider.slider-small h1{
      padding-top: 35px;
      
  }
  #content{
    overflow: hidden;
  }

  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10%;
    margin-right: 10%;
  }
  
  

  
}/*End 625*/

@media (max-width:510px){
  #menu{
    display: none;
  }
}

@media (max-width:450px){

  #bill-list-option{
    display: none;
  }
  #search-option{
    display: none;
  }
  #sidebar{
    display: none;
  }

  .wrapper .btn-white{
    height: auto;
  }
  
}

